.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px;
}

.redes-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    gap: 10px;
  }
}
