body {
  font-family: 'Inter', sans-serif;
}

:root {
  --bg: #e5e5e5;
  --white: #ffffff;
  --btn-gray:#D8DFE8
  --text-gray:#495057
  --dark-blue: #0a3871;
}

/* alternativo
:root {
    --bg: #101827;
    --white: #ffffff;
    --btn-gray:#1A56DB
    --text-gray:#374151
    --dark-blue: #1F2937
  }
   */