body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg);
  /* height: calc(100%-8rem); */
}

:root {
  --bg: #f3fcfc;
  /* --bg: #e5e5e5; */
  --white: #ffffff;
  --btn-gray: #d8dfe8;
  --text-gray: #495057;
  --dark-blue: #0a3871;
}
