.container {
  display: grid;
  grid-template-columns: 2fr 1.2fr;
  gap: 2rem;
  /* height: calc(100vh - 8rem); */
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1.5rem 0;
}
/* BOTAO */

.btn {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
  padding: 20px;
  width: 200px;
  border-radius: 24px;
  border: 1px solid var(--dark-blue);
  text-align: center;
}

.btn-blue {
  background-color: var(--dark-blue);
  color: var(--white);
  transition: ease-in-out 0.3s;
}
.btn-blue:hover {
  background-color: var(--btn-gray);
  color: var(--dark-blue);
}
.btn-gray {
  background-color: var(--btn-gray);
  color: var(--dark-blue);
  transition: ease-in-out 0.3s;
}
.btn-light {
  background-color: var(--white);
  color: var(--dark-blue);
  transition: ease-in-out 0.3s;
}

.btn-gray:hover {
  background-color: var(--dark-blue);
  color: var(--white);
}

/* BOTAO */

.form {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: var(--dark-blue);
  gap: 1rem;
  max-width: 690px;
  width: 100%;
  margin-left: auto;
}

.form .textarea {
  flex: 1;
  color: var(--dark-blue);
  font-size: 2rem;
  /* background-color: transparent; */
  /* resize: none; */
}

.form__buttons {
  display: flex;
  gap: 20px;

  justify-content: space-around;
}

/* FORM END*/

.result-container {
  /* position: relative; */
  width: 100%;
  max-width: 340px;
  height: 100%;
  background-color: white;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 5px 5px 15px #0002;
}

.result-container,
.no-result {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
  height: 100%;
  text-align: center;
}
.result {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  gap: 20px;
}
.result__text,
#btn-copy {
  display: none;
}

@media (max-width: 1200px) {
  .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2.5rem;
    padding: 1.5rem 1rem;
  }
}

@media (max-width: 768px) {
  .container {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    height: fit-content;
    min-height: 100vh;
    padding: 1.5rem;
    gap: 1rem;
    margin-top: 1.5rem;
  }

  /* FORM START */

  .form {
    padding: 0;
    margin-bottom: 2rem;
    min-height: 60vh;
  }

  /* FORM END */

  /* RESULT START */

  .result-container {
    width: 100%;
    max-width: initial;
    background-color: white;
    border-radius: 2rem;
  }

  /* RESULT END */
}

@media (max-width: 375px) {
  .form .textarea {
    min-height: 30vh;
  }

  .form .form__buttons {
    flex-direction: column;
  }
}
